<header>
    <div class="main-navigation">
        <a href="{{url('blogs')}}">
            <img src="{{asset('images/logo.png')}}" alt="Site logo">
        </a>
        <nav>
            <ul>
                <a href="{{url('blogs')}}" title="blogs">
                    <li>Blogs</li>
                </a>
                <a href="{{url('login')}}" title="Sign In">
                    <li>Sign In</li>
                </a>
                <a href="{{url('show_register')}}" title="Sign Up">
                    <li>Sign Up</li>
                </a>
            </ul>
        </nav>
    </div>
</header>