{% extends "base.html.twig" %}

{% block title %} 
    Blog List 
{% endblock %}

{% block body %}
        <div class="blog-list">
            <h1>Latest Posts</h1>
                {% for post in posts %}
                    <article>
                        <img src="{{ asset(post.media) }}"/>
                        <div class="post-data">
                            <h2>
                                <a href="{{ path('blog', {'slug': post.slug, 'id': post.id }) }}">
                                    {{  post.title }}
                                </a>
                            </h2>
                            <p class="post-summary">
                                {{ post.body | slice(0, 700) }}
                            </p>
                            <p class="post-author">
                                {{ post.author.fullname }}
                            </p>
                            <p class="post-date">
                                {{ post.created|date('Y-m-d') }}
                            </p>
                        </div>
                    </article>
                {% endfor %}
        </div>
        <div class="register-for-more">
            <h2>Register for more</h2>
            <p>
                These are the latest posts of the platform.
                In order to post your own blogs and see the full content of the platform you can register
            </p>
            <a class="btn" href="{{url('register')}}">Register</a>
        </div>
{% endblock %}